.rs-spinner-double-bounce {
  position: relative;}
  .rs-spinner-double-bounce-bounce1, .rs-spinner-double-bounce-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: rs-spinner-double-bounce 2.0s infinite ease-in-out;
  }
  .rs-spinner-double-bounce-bounce2 {
  animation-delay: -1.0s;
  }
  @keyframes rs-spinner-double-bounce {
  0%, 100% {
  transform: scale(0.0);
  }
  50% {
  transform: scale(1.0);
  }
  }
  .rs-tab-container {
    overflow: hidden;
    position: relative;
    }
    .rs-tab-container-wrap {
    display: flex;
    }
    .rs-tab-container-swipe-transition {
    transition: transform 150ms ease-in-out;
    }
    .rs-tab-container-item {
    flex-shrink: 0;
    width: 100%;
    }